body{
    background-color: rgb(0, 192, 189);
    font: normal 15pt Arial;
    
    }
    
    header{
    color: #eee;
    text-align: center; /* alinhamento do texto. Centralizado*/
    
    }

    
    section{
    background-color: #eee;
    border-radius: 10px;/* O raio da borda. Para deixar as bordas da caixa arredondadas*/
    padding: 15px; /*altura da caixa*/
    width: 500px; /* largura da caixa*/
    margin: auto; /*para centralizar*/
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);/*sombra da caixa*/
    }
input{
    margin-top: 20px;
}
#res{
    margin-top: 20px;
}
    footer
{
color: #fff;
text-align: center;/* alinhamento do texto. Centralizado*/
font-style: italic;
margin-top: 20px;
}